.top-ten-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-ten{
    width: 80%;
}
.top-ten img {
    width: 13rem;
}
.banner img{
  height: 20rem;
  width: 100%;
}
.banner-container{
  width:80%;
  margin: 2em auto;  
}
.swiper-slide-top-ten{
  text-align: center;
  border-radius: 1rem;
  border: 1px solid rgb(191, 186, 186);
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.swiper-buttons button {
  border: none;
  color: white;
  background-color:  #cda557;
  margin: .5rem .2rem
}
.swiper-buttons{
  display: flex;
  justify-content: end;
}
.swiper-container{
  margin: 0 auto;
}
.bruna-catalog{
  text-decoration: underline;
  text-decoration-color: #cda557;
}

@media (max-width: 1000px) { 
  .banner-container{
    widtH :100%;
  }
  .banner img{
    height: 10rem;
  }
  .top-ten img {
    width: 10rem;
    height: 9rem ;
}
}
@media (max-width: 1000px) { 

}


