.per-contact{    
    background-color: #cda557;
    text-align: center;
    color: white;
    border-radius: 1em;
    width: 20em;
    margin-bottom: 20px;
    padding: 1em;
    transition: background 0.5s ease-in-out;
}



.per-contact img{
    width: 30px;
}
.contacts-parent{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.per-contact:hover{
    background-color: #1111;  
    color: black;   
    border: #cda557 solid .1em;

}

.contact-form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    
}
.topics{
    text-align: center;
}

@media(max-width: 800px){
        .contact-form{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .per-contact{
            width: 20em;
        }
    
}

@media(max-width: 400px){
    .per-contact{
        width: 17em;
    }
}

@media (max-width: 350px) {
    #experience{
     width: 14rem;
     font-size: 8px;
 }
}