.faq-link{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.faq-child{
    flex: 1 0 30%; 
}
.faq-child p{
    margin-top: .7rem;
    margin-bottom: 2rem;
}

.faq{
    margin: 5rem 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
.faqs_images{
    border-radius: 1rem;
    width: 20rem;
}
.faqs-container{
    margin: 2rem 15%;
}
.faqs-container img {
    margin: auto;
    height: 18rem;
    border-radius: 2rem;
}
.faq-display{
    display: flex;
}
.faqs-list li {
    margin-top: 1rem;
}
.faqs-banner{
    width: 100%;
    height: 20rem;
}
.faqs-media{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.distro div{
    margin-top: 2rem;

}
.distro div a{
    font-size: 1rem;
    color:#cda557;
} 
.distro div a:hover{
    text-decoration: underline;
}
.identify-items{
    display: flex;
    flex-direction: column;
}

@media(max-width:1000px){
    .faqs-container{
        margin: 2rem ;
    }
    .faqs-banner{
        width: 100%;
        height: 10rem;
    }
    .faqs-media{
        flex-direction: column;
        align-items:  space-between;
    }
    .faqs-media img {
        margin-top: 2rem;
    }
    .faq-display{
        flex-direction: column;
    }
    .faqs-container img,iframe{
        width: 18rem;
        height: 12rem;
    }
    .faqs_images{
        width: 80vw
    }
    .faq{
        margin: auto;
    }
}
@media(max-width:300px){
    .faqs_images{ 
        width: 80vw;
    }
    .faq{
        margin:auto;
    }
}
